@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --main-color: #000;
  --secondary-color: rgb(30, 30, 30);
  scrollbar-color: var(--secondary-color) var(--main-color);
  scrollbar-width: thin;
}

body {
  background-color: black;
  color: white;
  /* overflow: hidden; */
  /* min-height: 100vh;
  height: 100vh;
  max-height: 100vh; */
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /* border: 1px solid var(--secondary-color); */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* ::selection {
  background: #007c64;
  color: #fff;
} */

/* Hide spinner for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@media print {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }
}
